page-protocolos {
    ion-content{
        background: #eee url(../../assets/imgs/bg.png) top;
    }

    .data{
        margin: 10px 0px;
        color: #000;
    }
    .icon-holder{
        font-size: 32px;
    }

    div.vazio {
      font-size: 18px;
      font-weight: bold;
      color: #028354;
      padding: 40px 10px;
    }
}
