<ion-header class="header" no-border>
  <ion-navbar>
    <ion-title>Protocolos</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="vazio" *ngIf="!data && erro" text-center>
    Erro ao consultar protocolos.
  </div>

  <div class="vazio" *ngIf="data && data.length == 0" text-center>
    Nenhum protocolo encontrado.
  </div>

  <ion-list *ngIf="data?.length > 0">
    <ion-item *ngFor="let protocolo of data">
      <ion-card (click)="onClickProtocolo(protocolo)">
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col col-11>
                <ion-row class="protocolo">
                  <ion-col>
                    Protocolo: {{ protocolo.nro_protocolo }}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    Data de solicitação: {{ protocolo.data_solict }}
                  </ion-col>
                </ion-row>
                <ion-row class="status"
                        [class.orange]="protocolo.status_tipo == 'PARC_AUTORIZADO'"
                        [class.green]="protocolo.status_tipo == 'AUTORIZADO'"
                        [class.gray]="protocolo.status_tipo == 'EM_ANALISE'"
                        [class.red]="protocolo.status_tipo == 'NEGADO'">
                  <ion-col>
                    {{ protocolo.status }}
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col col-1 class="icon-holder">
                <ion-icon name="md-arrow-forward" *ngIf="protocolo.status_tipo == 'EM_ANALISE'"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
          <span class="corner-triangle"
          [class.orange]="protocolo.status_tipo == 'PARC_AUTORIZADO'"
          [class.green]="protocolo.status_tipo == 'AUTORIZADO'"
          [class.gray]="protocolo.status_tipo == 'EM_ANALISE'"
          [class.red]="protocolo.status_tipo == 'NEGADO'"></span>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>
