<ion-content>
  <ion-grid class="grid-page">
    <ion-row>
      <ion-col>
        <section class="titles">
          <h2>Status de</h2>
          <h1>Liberação</h1>
          <h2>de Guias</h2>
        </section>
      </ion-col>
      <div class="ion-col">
        <section class="hands">
          <img src="./assets/imgs/hand.svg">
        </section>
      </div>
    </ion-row>
  </ion-grid>

  <section class="logo">
    <img src="./assets/imgs/logo.png">
  </section>

  <section class="padding-default">
    <form (ngSubmit)="login()" [formGroup]="formLogin">
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      <ion-input type="password" placeholder="Senha" formControlName="senha"></ion-input>

      <button type="submit" class="login" block ion-button [disabled]="formLogin.invalid">ENTRAR</button>

      <div class="esqueci-senha">
        <a>Esqueci minha senha</a>
      </div>
  </form>
  </section>
</ion-content>
