page-home {
    form{
        margin-top: 210px;
    }

    .content {
        background: #eee url(../assets/imgs/bg-home.png) top;
        background-attachment: fixed;
        overflow: hidden;
        position: relative;
    }

    // .scroll-content {
    //     padding: 0 !important;
    // }


    .titles {
        padding: 80px 0px 0px 25px;

        h1 {
            font: {
                family: "UnimedSlab";
                size: 35px;
                style: italic;
            }

            color: #00995D;
            position: relative;
            top: -2px;
            margin-left: 2px;
        }

        h2 {
            color: #000;
            margin-left: 6px;

            font: {
                weight: 600 !important;
                family: "UnimedSlab";  
                size: 26px;  
            }
        }
    }

    .hands {
        margin: 50px 20px 0px 0px;
        position: absolute;
        top: 30px;
        right: 0;

        img {
            width: 135px;
        }
    }

    .logo {
        text-align: center;
        margin-top: 65px;
        z-index: 1;
        position: relative;
    }

    form {
        margin-top: 25px;
    }

    .esqueci-senha {
        text-align: center;
        margin-top: 10px;

        a {
            color: #FFF;
            font-weight: 100;
        }
    }
}
