/*==========================================================
  UNIMED SANS
==========================================================*/
@font-face {
	font-family: "UnimedSans";
	src: url('../assets/fonts/UnimedSans/UnimedSans-Light.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/UnimedSans/UnimedSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/UnimedSans/UnimedSans-Light.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../assets/fonts/UnimedSans/UnimedSans-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url("../assets/fonts/UnimedSans/UnimedSans-Light.otf") format('opentype'); /* opentype */
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "UnimedSans";
	src: url('../assets/fonts/UnimedSans/UnimedSans-Book.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/UnimedSans/UnimedSans-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/UnimedSans/UnimedSans-Book.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../assets/fonts/UnimedSans/UnimedSans-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url("../assets/fonts/UnimedSans/UnimedSans-Book.otf") format('opentype'); /* opentype */
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "UnimedSans";
	src: url('onts/UnimedSans/UnimedSans-Regular.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/UnimedSans/UnimedSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/UnimedSans/UnimedSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../assets/fonts/UnimedSans/UnimedSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url("../assets/fonts/UnimedSans/UnimedSans-Regular.otf") format('opentype'); /* opentype */
	font-weight: normal; /*igual a 400*/
	font-style: normal;
}

@font-face {
	font-family: "UnimedSans";
	src: url('../assets/fonts/UnimedSans/UnimedSans-SemiBold.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/UnimedSans/UnimedSans-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/UnimedSans/UnimedSans-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../assets/fonts/UnimedSans/UnimedSans-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url("../assets/fonts/UnimedSans/UnimedSans-SemiBold.otf") format('opentype'); /* opentype */
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "UnimedSans";
	src: url('../assets/fonts/UnimedSans/UnimedSans-Bold.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/UnimedSans/UnimedSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/UnimedSans/UnimedSans-Bold.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../assets/fonts/UnimedSans/UnimedSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url("../assets/fonts/UnimedSans/UnimedSans-Bold.otf") format('opentype'); /* opentype */
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "UnimedSans";
	src: url('../assets/fonts/UnimedSans/UnimedSans-ExtraBold.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/UnimedSans/UnimedSans-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/UnimedSans/UnimedSans-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../assets/fonts/UnimedSans/UnimedSans-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url("../assets/fonts/UnimedSans/UnimedSans-ExtraBold.otf") format('opentype'); /* opentype */
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "UnimedSans";
	src: url('../assets/fonts/UnimedSans/UnimedSans-Black.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/UnimedSans/UnimedSans-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/UnimedSans/UnimedSans-Black.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../assets/fonts/UnimedSans/UnimedSans-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url("../assets/fonts/UnimedSans/UnimedSans-Black.otf") format('opentype'); /* opentype */
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "UnimedSans";
	src: url('../assets/fonts/UnimedSans/UnimedSans-LightItalic.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/UnimedSans/UnimedSans-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/UnimedSans/UnimedSans-LightItalic.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../assets/fonts/UnimedSans/UnimedSans-LightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url("../assets/fonts/UnimedSans/UnimedSans-LightItalic.otf") format('opentype'); /* opentype */
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: "UnimedSans";
	src: url('../assets/fonts/UnimedSans/UnimedSans-BookItalic.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/UnimedSans/UnimedSans-BookItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/UnimedSans/UnimedSans-BookItalic.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../assets/fonts/UnimedSans/UnimedSans-BookItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url("../assets/fonts/UnimedSans/UnimedSans-BookItalic.otf") format('opentype'); /* opentype */
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: "UnimedSans";
	src: url('../assets/fonts/UnimedSans/UnimedSans-RegularItalic.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/UnimedSans/UnimedSans-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/UnimedSans/UnimedSans-RegularItalic.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../assets/fonts/UnimedSans/UnimedSans-RegularItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url("../assets/fonts/UnimedSans/UnimedSans-RegularItalic.otf") format('opentype'); /* opentype */
	font-weight: normal; /*igual a 400*/
	font-style: italic;
}

@font-face {
	font-family: "UnimedSans";
	src: url('../assets/fonts/UnimedSans/UnimedSans-SemiBoldItalic.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/UnimedSans/UnimedSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/UnimedSans/UnimedSans-SemiBoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../assets/fonts/UnimedSans/UnimedSans-SemiBoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url("../assets/fonts/UnimedSans/UnimedSans-SemiBoldItalic.otf") format('opentype'); /* opentype */
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "UnimedSans";
	src: url('../assets/fonts/UnimedSans/UnimedSans-BoldItalic.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/UnimedSans/UnimedSans-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/UnimedSans/UnimedSans-BoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../assets/fonts/UnimedSans/UnimedSans-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url("../assets/fonts/UnimedSans/UnimedSans-BoldItalic.otf") format('opentype'); /* opentype */
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "UnimedSans";
	src: url('../assets/fonts/UnimedSans/UnimedSans-ExtraBoldItalic.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/UnimedSans/UnimedSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/UnimedSans/UnimedSans-ExtraBoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../assets/fonts/UnimedSans/UnimedSans-ExtraBoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url("../assets/fonts/UnimedSans/UnimedSans-ExtraBoldItalic.otf") format('opentype'); /* opentype */
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: "UnimedSans";
	src: url('../assets/fonts/UnimedSans/UnimedSans-BlackItalic.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/UnimedSans/UnimedSans-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/UnimedSans/UnimedSans-BlackItalic.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../assets/fonts/UnimedSans/UnimedSans-BlackItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url("../assets/fonts/UnimedSans/UnimedSans-BlackItalic.otf") format('opentype'); /* opentype */
	font-weight: 900;
	font-style: italic;
}

/*==========================================================
  UNIMED SLAB
==========================================================*/
@font-face {
	font-family: "UnimedSlab";
	src: url('../assets/fonts/UnimedSlab/UnimedSlab-Light.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/UnimedSlab/UnimedSlab-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/UnimedSlab/UnimedSlab-Light.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../assets/fonts/UnimedSlab/UnimedSlab-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url("../assets/fonts/UnimedSlab/UnimedSlab-Light.otf") format('opentype'); /* opentype */
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "UnimedSlab";
	src: url('../assets/fonts/UnimedSlab/UnimedSlab-Book.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/UnimedSlab/UnimedSlab-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/UnimedSlab/UnimedSlab-Book.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../assets/fonts/UnimedSlab/UnimedSlab-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url("../assets/fonts/UnimedSlab/UnimedSlab-Book.otf") format('opentype'); /* opentype */
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "UnimedSlab";
	src: url('../assets/fonts/UnimedSlab/UnimedSlab-Regular.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/UnimedSlab/UnimedSlab-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/UnimedSlab/UnimedSlab-Regular.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../assets/fonts/UnimedSlab/UnimedSlab-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url("../assets/fonts/UnimedSlab/UnimedSlab-Regular.otf") format('opentype'); /* opentype */
	font-weight: normal; /*igual a 400*/
	font-style: normal;
}

@font-face {
	font-family: "UnimedSlab";
	src: url('../assets/fonts/UnimedSlab/UnimedSlab-SemiBold.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/UnimedSlab/UnimedSlab-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/UnimedSlab/UnimedSlab-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../assets/fonts/UnimedSlab/UnimedSlab-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url("../assets/fonts/UnimedSlab/UnimedSlab-SemiBold.otf") format('opentype'); /* opentype */
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "UnimedSlab";
	src: url('../assets/fonts/UnimedSlab/UnimedSlab-Bold.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/UnimedSlab/UnimedSlab-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/UnimedSlab/UnimedSlab-Bold.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../assets/fonts/UnimedSlab/UnimedSlab-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url("../assets/fonts/UnimedSlab/UnimedSlab-Bold.otf") format('opentype'); /* opentype */
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "UnimedSlab";
	src: url('../assets/fonts/UnimedSlab/UnimedSlab-ExtraBold.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/UnimedSlab/UnimedSlab-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/UnimedSlab/UnimedSlab-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../assets/fonts/UnimedSlab/UnimedSlab-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url("../assets/fonts/UnimedSlab/UnimedSlab-ExtraBold.otf") format('opentype'); /* opentype */
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "UnimedSlab";
	src: url('../assets/fonts/UnimedSlab/UnimedSlab-Black.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/UnimedSlab/UnimedSlab-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/UnimedSlab/UnimedSlab-Black.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../assets/fonts/UnimedSlab/UnimedSlab-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url("../assets/fonts/UnimedSlab/UnimedSlab-Black.otf") format('opentype'); /* opentype */
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "UnimedSlab";
	src: url('../assets/fonts/UnimedSlab/UnimedSlab-LightItalic.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/UnimedSlab/UnimedSlab-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/UnimedSlab/UnimedSlab-LightItalic.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../assets/fonts/UnimedSlab/UnimedSlab-LightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url("../assets/fonts/UnimedSlab/UnimedSlab-LightItalic.otf") format('opentype'); /* opentype */
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: "UnimedSlab";
	src: url('../assets/fonts/UnimedSlab/UnimedSlab-BookItalic.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/UnimedSlab/UnimedSlab-BookItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/UnimedSlab/UnimedSlab-BookItalic.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../assets/fonts/UnimedSlab/UnimedSlab-BookItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url("../assets/fonts/UnimedSlab/UnimedSlab-BookItalic.otf") format('opentype'); /* opentype */
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: "UnimedSlab";
	src: url('../assets/fonts/UnimedSlab/UnimedSlab-RegularItalic.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/UnimedSlab/UnimedSlab-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/UnimedSlab/UnimedSlab-RegularItalic.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../assets/fonts/UnimedSlab/UnimedSlab-RegularItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url("../assets/fonts/UnimedSlab/UnimedSlab-RegularItalic.otf") format('opentype'); /* opentype */
	font-weight: normal; /*igual a 400*/
	font-style: italic;
}

@font-face {
	font-family: "UnimedSlab";
	src: url('../assets/fonts/UnimedSlab/UnimedSlab-SemiBoldItalic.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/UnimedSlab/UnimedSlab-SemiBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/UnimedSlab/UnimedSlab-SemiBoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../assets/fonts/UnimedSlab/UnimedSlab-SemiBoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url("../assets/fonts/UnimedSlab/UnimedSlab-SemiBoldItalic.otf") format('opentype'); /* opentype */
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "UnimedSlab";
	src: url('../assets/fonts/UnimedSlab/UnimedSlab-BoldItalic.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/UnimedSlab/UnimedSlab-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/UnimedSlab/UnimedSlab-BoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../assets/fonts/UnimedSlab/UnimedSlab-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url("../assets/fonts/UnimedSlab/UnimedSlab-BoldItalic.otf") format('opentype'); /* opentype */
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "UnimedSlab";
	src: url('../assets/fonts/UnimedSlab/UnimedSlab-ExtraBoldItalic.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/UnimedSlab/UnimedSlab-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/UnimedSlab/UnimedSlab-ExtraBoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../assets/fonts/UnimedSlab/UnimedSlab-ExtraBoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url("../assets/fonts/UnimedSlab/UnimedSlab-ExtraBoldItalic.otf") format('opentype'); /* opentype */
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: "UnimedSlab";
	src: url('../assets/fonts/UnimedSlab/UnimedSlab-BlackItalic.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/UnimedSlab/UnimedSlab-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../assets/fonts/UnimedSlab/UnimedSlab-BlackItalic.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../assets/fonts/UnimedSlab/UnimedSlab-BlackItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url("../assets/fonts/UnimedSlab/UnimedSlab-BlackItalic.otf") format('opentype'); /* opentype */
	font-weight: 900;
	font-style: italic;
}
