$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";

$colors: (
  // Primaria
  prim-1:       #00995D, 
  prim-2:       #B1D34B, 
  prim-3:       #FFF0C7, 
  prim-4:       #FFFFFF, 

  // Secundária Clara
  sec-c-1:      #ED1651, // Rosa
  sec-c-2:      #A3238E, // Roxo
  sec-c-3:      #F47920, // Laranja
  sec-c-4:      #FFCB08, // Amarelo
  sec-c-5:      #C4CBCF, // Cinza
  sec-c-6:      #015229, // Verde

  // Secundária Escura
  sec-e-1:      #00401A, // Verde
  sec-e-2:      #411564, // Roxo
  sec-e-3:      #0A5F55, // Verde
  sec-e-4:      #5B5C65, // Cinza
  sec-e-5:      #682D00, // Marrom
  
  primary:    #009C64,
  secondary:  #32db64,
  light:      #ffffff,
  danger:     #f53d3d,
  input-bg:   #2B9871,
);

//Ionic Patterns
$text-input-placeholder-color: color($colors, light);
//Ionic Pre Config
@import "ionic.theme.default";
@import "ionic.ionicons";
// Fonts
@import "roboto";
@import "noto-sans";
@import "fonts";