*{
    font-family: "UnimedSans";
    font-weight: 400;
}

ion-content {
    font-family: "UnimedSans";
}

h1, h2, h3 {
    margin: 0px;
}

.padding-default {
    padding: 0px 20px;
}

.padding-buttons {
    padding: 0px 20px;
}

@import '../theme/components/buttons';
@import '../theme/components/inputs';
@import '../theme/components/itens';
@import '../theme/animate';
@import '../theme/components/cards';
@import '../theme/components/grids';
@import '../theme/components/lists';
@import '../theme/components/header';