button.button{
    border-radius: 26px;
    font-size: 15px;
    font-family: "UnimedSlab";
    color: #00915D;
    background: #fff;

    &.login{
        height: 45px;
        font-family: "UnimedSlab"; 

        span{
            font-size: 18px;
            font-family: "UnimedSlab";              
            font-weight: 500;
        }
    }
}