ion-card.card{
    &.acompanhamento{

    }

    margin: 0;
    ion-card-content{
        position: relative;
        .status{
            color: color($colors, primary);

            &.gray{
                color: color($colors, sec-c-5);
            }
            &.orange{
                color: color($colors, sec-c-3);
            }
            &.red{
                color: color($colors, danger);
            }
            &.green{
                color: color($colors, primary);
            }
        }
        .data{
            color: color($colors, sec-c-5);
        }
        .corner-triangle{
            display: block;
            position: absolute;
            text-align: right;
            bottom: 0px;
            right: 0px;
            width: 20px;
            height: 20px;
            background-image: linear-gradient(135deg, color($colors, light) 50%, color($colors, primary) 50%);
            &.gray{
                background-image: linear-gradient(135deg, color($colors, light) 50%, color($colors, sec-c-5) 50%);
            }
            &.orange{
                background-image: linear-gradient(135deg, color($colors, light) 50%, color($colors, sec-c-3) 50%);
            }
            &.red{
                background-image: linear-gradient(135deg, color($colors, light) 50%, color($colors, danger) 50%);
            }
            &.green{
                background-image: linear-gradient(135deg, color($colors, light) 50%, color($colors, primary) 50%);
            }
        }
    }
}