ion-grid.grid{
    padding: 0;
    ion-row{
        padding: 0;
        ion-col{
            padding: 0;
            &.icon-holder{
                align-self: center;
            }
        }
    }
}
