ion-header.header {
    
    ion-navbar div.toolbar-background {
        background: url(../../assets/imgs/bg-header.png) top no-repeat;   
    }

    .bar-button-default {
        color: #FFF;
    }

    .toolbar-title {
        color: #FFF;
    }

    .toolbar-title-ios {
        text-overflow: initial;
        white-space: initial;
    }

    .toolbar-ios ion-title {
        padding: 0px;
    }

    .toolbar {
        min-height: 100px;
    }

    button {
        position: relative;
        top: -10px;
    }

    ion-title {
        position: relative;
        top: -10px;
    }
}