ion-item.item{
    margin: 0;
    padding: 0;
    border: 0;
    background:  transparent;

    &.item-ios .item-inner, &.item-md .item-inner{
        margin: 0;
        padding: 0;
        border: 0;
    }
}