page-detalhes-protocolo { 

    ion-content{
        background: #eee url(../../assets/imgs/bg.png) top;
    }

    ion-list.list ion-card{
        margin: 12px 12px 12px 12px;
    }

    ion-list.list-date {
        margin-top: 25px;
        width: 100%;

        ion-item {
            border-bottom: solid 1px#ddd !important;
            width: 100%;
            margin-bottom: 7px;
        }
    }

    .titulo{
        color: #00995D;
        text-align: center;
    }

    .strong {
        font-weight: 600;
    }

    .txt-pro {
        color: #00995D;
    }

    .grafico {
        height: 50px;
        ion-col{
            text-align: center;
            align-self: center
        }
        span{
            &.ponto{
                //margin-top: 10px;
                display: inline-block;
                height: 16px;
                width: 16px;
                border-radius: 12px;
                background-color: gray;
            }

            &.linha{
                display: inline-block;
                border-top: dashed 1px gray;
                height: 8px;
                width: 28%;
                //margin-top: 10px; 
            }

            &.cor-linha{
                border-top: dashed 1px color($colors, primary);
            }

            &.cor-ponto{
                background-color: green;
            }
        }
    }
    .acompanhamento{
        color: gray;
        margin-bottom: 20px;
    }

    .protocolo-guia {
        margin-top: 20px;
    }

    .text-pro {
        color: #00995D;
    }

    h3 {
        background: #F47920;
        color: #FFF !important;
        border-radius: 20px;
        padding: 6px;
        text-align: center;
        margin-bottom: 20px;
    }

    h4 {
        font-size: 20px !important;
        color: #00995D !important;
        font-family: "UnimedSlab"; 
        margin:  15px 0px !important;
    }
}
