<ion-header class="header" no-border>
  <ion-navbar>
    <ion-title>Detalhe</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list no-lines>
    <ion-item>
      <ion-card>
        <ion-card-content>
          <ion-grid>
            <ion-row class="protocolo-guia">
              <p>Solicitada da guia: 14/08/2018</p>
              <p class="txt-pro">Protocolo: 231434324343</p>
            </ion-row>
            <ion-row class="titulo">
              <ion-col>
                <h4>Sua guia foi solicitada</h4>
              </ion-col>
            </ion-row>
            <ion-row class="grafico">
              <ion-col>
                <span class="ponto cor-ponto"></span>
                <span class="linha cor-linha"></span>
                <span class="ponto"></span>
                <span class="linha"></span>
                <span class="ponto"></span>
              </ion-col>
            </ion-row>
            <ion-row class="acompanhamento">
              <ion-col>
                Texto
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <h3>Aguardando auditoria</h3>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-list class="list-date">
                <ion-item>
                  <p class="strong">Data</p>
                  <p>Descrição</p>
                </ion-item>
                <ion-item>
                  <p class="strong">Data</p>
                  <p>Descrição</p>
                </ion-item>
                <ion-item>
                  <p class="strong">Data</p>
                  <p>Descrição</p>
                </ion-item>
              </ion-list>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>